

#calculator
{
    width: 250px;
    height: 350px;
    border: 5px solid black;
    text-align: center;
    background: yellow;
    margin: 150px auto;
    box-shadow: 0px opx 100px gold;


}

#display
{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 220px;
    height: 30px;
    border: 1px solid red;
    box-shadow: 0px 0px 30px red;
    text-align: right;
    font: 20px bold;
    color: black;
}

#keys
{
    width: 41px;
    height: 35px;
    margin-left: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px blue;
    cursor: pointer;
}

#keys:hover
{
    background: thistle;
    font-weight: bold;
}

#equal
{
    width: 90px;
    height: 35px;
    margin-left: 13px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px blue;
    cursor: pointer;
}

#equal:hover
{
    background: thistle;
    color: black;
    font-weight: bold;
}